/**
 * @desc takes our gutter and total columns and builds us a grid
 * @note the -1 is there because browsers handle pixels different
 *       subtracting by one prevents the grid from breaking on safari etc
 * @param {number} [$index] pass in a number, get a column
 */
get-col-width( $index, $has-spacer = false )
  // this should be cleaned up
  if $has-space
    $first-value = ( 100% / $columns ) * $index
    $second-value = ($spacer-amount / ($columns / $index) - $spacer-amount) - 1
    $third-value = unit( $second-value, $spacer-type )
    $final-value = $first-value + $third-value
    if $spacer-type != '%'
      $final-value = s( 'calc(%s + %s)', $first-value, $third-value )
    return $final-value
  else
    return unit( ( 100% / $columns ) * $index, '%' ) - .5
